.body {
    align-content: center;
}

.shopContainer {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; /* Adjust the gap between items if needed */
    
    align-items: center;
    /* border: 1px solid #ccc; */
    padding: 20px;
    max-width: 100px;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
}
